/* ROOT */
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --red1: rgb(190, 29, 29);
  --red2: rgb(85, 16, 16);
  --black1: rgba(11, 15, 13, 0.9);
  --black2: rgba(11, 15, 13, 0.6);
  --gray1: rgb(48, 51, 51);
  --bone1: rgb(223, 220, 188);
}
/* GENERAL */
body {
  background-color: var(--gray1);
  max-width: fit-content;
  background-image: url(images/bg\ \(2\).jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  cursor: url(images/cursor4.png) , auto;
}
/* html,script,div,body,button,a {
  cursor: url(images/cursor4.png) , auto;
} */
div {
  box-sizing: border-box;
}
h2 {
  font-family: Caudex;
  color: var(--red1);
  padding: 1%;
  margin: 0;
  text-shadow: 0 0 10px black;
}
p {
  font-family: Caudex;
  font-size: 20px;
  color: var(--bone1);
  padding: 0 20px;
  text-shadow: 0 0 0 5px black;
}
a {
  max-width: fit-content;
  max-height: fit-content;
  cursor: url(images/cursor4.png) , auto;
}
button {
  font-family: Caudex;
  font-size: 20px;
  color: var(--red1);
  background-color: transparent;
  border: none;
  height: fit-content;
  width: fit-content;
  cursor: url(images/cursor5.png) , auto;
}
button:hover {
 cursor: url(images/cursor5.png) , auto;
}
/* HEADING */
.heading {
  font-family: Caudex;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  color: var(--red1);
  background-color: var(--black1);
  position: fixed;
  padding: 0 0 0 130px;
  top: 0;
  left: 0;
  z-index: 3;
}
#backhead {
  position: relative;
  padding: 3.5%;
}
#logo {
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 20px 20px 10px;
  border-radius: 0 0 40px 0;
  animation: godown 2000ms infinite alternate-reverse;
}
@keyframes godown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}
#heading-menu {
  display: flex;
  width: fit-content;
}
#EVOL-title {
  margin: 0.8% 0 0 0;
  width: 15%;
  height: 15%;
  opacity: 0.8;
}
#heading-button-menu {
  display: flex;
  justify-content: flex-start;
  margin-left: 50vh;
}
#first-heading-button {
  border-width: 0 1px 0 1px;
}
.heading-button {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  transition: all 300ms;
  width: 17vh;
}
.heading-button:hover {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  background-color: rgba(41, 40, 40, 0.4);
}
.social-icon {
  width: 6vh;
  margin: 30px 27px 0 27px;
  opacity: 0.7;
  border-radius: 13px;
  transition: all 0.3s;
}
.social-icon:hover {
  opacity: 1;
  box-shadow: 0 0 15px -5px gold;
  cursor: url(images/cursor5.png) , auto;
}

/* MAIN BODY */
#main-page-body {
  display: flex;
}
#main-separator {
  height: 80vh;
  padding: 20px 3vh 0 3vh;
}
/* UPDATES */
#updates {
  align-items: center;
  text-align: center;
  background-color: var(--black2);
  width: 40%;
  border-radius: 10px;
  margin: 0 0 0 1%;
}
#bsky-feed {
  margin: 50%;
}
/* GAMES */
.protag {
  max-height: 100vh;
  position: absolute;
  left: 50vh;
  top: 10vh;
  z-index: 1;
  animation: fadeinleft 0.5s;
}
@keyframes fadeinleft {
  0%{
    transform: translateX(500px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
#game-summary {
  text-align: left;
  background-color: var(--black2);
  border-radius: 10px;
  width: 75%;
  position: relative;
  z-index: 2;
  left: 24%;

}
.game-description {
  display: flex;
  max-width: 110vh;
}
.game-logo {
width: 40vh;
height: fit-content;
margin-top: 5%;
}
.screenshot-segment {
  display: flex;
  justify-content: center;
}
.screenshot {
  width: 85%;
  border-radius: 10px;
  margin: 0 1%;
}
.arrow {
  height: 70px;
  border: none;
  margin: 600% 0 0 0;
  opacity: 0.5;
  transition: all 0.4s;
}
.arrow:hover {
  opacity: 1;
}
.arrow.game-arrow {
  margin: 40% 0 0 0;
  padding: 10px;
  height: 140px;
}
#game-links {
  display: flex;
  justify-content:space-around;
  padding: 1% 0;
  margin-left: 12%;
}
.game-button {
  width: fit-content;
  max-width: 30%;
  padding: 0;
  margin: 1%;
  opacity: 0.5;
    transition: all 100ms;
  cursor: url(images/cursor5.png) , auto;
}
.game-button:hover {
  opacity: 1;
  cursor: url(images/cursor5.png) , auto;
}


/* PHONE MEDIA */
@media (max-width: 430px) {
  .heading {
    font-family: Caudex;
    font-weight: 700;
    font-size: larger;

    width: 100%;
    color: var(--red1);
    background-color: var(--black1);
    position: fixed;
    padding: 0 0 0 30px;
    top: 0;
    left: 0;
  }
  #EVOL-title {
    padding-left: 50px;
  }
  }
