/* ROOT */
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --red1: rgb(190, 29, 29);
  --red2: rgb(85, 16, 16);
  --black1: rgba(11, 15, 13, 0.678);
  --black2: rgba(11, 15, 13, 0.5);
  --gray1: rgb(48, 51, 51);
  --bone1: rgb(223, 220, 188);
}
/* GENERAL */
body {
  background-color: var(--gray1);
  max-width: fit-content;
  background-image: url(images/bg\ \(2\).jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
}
@keyframes cursor {
  0% {cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;}
  10% {cursor: url(images/cursor/frame_01_delay-0.1s.gif), auto;}
  20% {cursor: url(images/cursor/frame_02_delay-0.1s.gif), auto;}
  30% {cursor: url(images/cursor/frame_03_delay-0.1s.gif), auto;}
  40% {cursor: url(images/cursor/frame_04_delay-0.1s.gif), auto;}
  50% {cursor: url(images/cursor/frame_05_delay-0.1s.gif), auto;}
  60% {cursor: url(images/cursor/frame_06_delay-0.1s.gif), auto;}
  70% {cursor: url(images/cursor/frame_07_delay-0.1s.gif), auto;}
  80% {cursor: url(images/cursor/frame_08_delay-0.1s.gif), auto;}
  90% {cursor: url(images/cursor/frame_09_delay-0.1s.gif), auto;}
  100% {cursor: url(images/cursor/frame_10_delay-0.1s.gif), auto;}
}
div {
  box-sizing: border-box;
}
h2 {
  font-family: Caudex;
  color: var(--red1);
  padding: 1%;
  margin: 0;
  text-shadow: 0 0 10px black;
}
p {
  font-family: Caudex;
  font-size: 18px;
  color: var(--bone1);
  padding: 0 0 0 20px;
  text-shadow: 0 0 0 5px black;
  border: solid transparent 10px;
  border-image: url(images/indent\ border.png) round 100;
  background-color: var(--black2);
  background-clip: padding-box;
}
a {
  max-width: fit-content;
  max-height: fit-content;
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
}
button {
  font-family: Caudex;
  font-size: 25px;
  color: var(--red1);
  background-color: transparent;
  border: none;
  height: fit-content;
  width: fit-content;
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
}
button:hover {
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
  animation: cursor 1000ms infinite;
}
/* HEADING */
.heading {
  font-family: Caudex;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  color: var(--red1);
  background-color: var(--black1);
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
  position: fixed;
  padding: 0 0 0 130px;
  top: 0;
  left: 0;
  z-index: 3;
}
#bar {
  position: fixed;
  width: 100vw;
  margin: 80px 0 0 -10px;
  z-index: 3;
}
#backhead {
  position: relative;
  padding: 3.7%;
}
#logo {
  height: 12%;
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  padding: 5px 20px 20px 10px;
  border-radius: 0 0 40px 0;
  animation: godown 2000ms infinite alternate-reverse;
}
@keyframes godown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}
#heading-menu {
  display: flex;
  width: fit-content;
}
#EVOL-title {
  width: 15%;
  height: 15%;
  opacity: 0.8;
}
#heading-button-menu {
  display: flex;
  justify-content: flex-start;
  margin-left: 50vh;
}
#first-heading-button {
  border-width: 0 1px 0 1px;
}
.heading-button {
  padding: 3.4vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  transition: all 300ms;
  width: 17vh;
}
.heading-button:hover {
  padding: 4vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  background-color: rgba(41, 40, 40, 0.4);
  text-shadow: 0 0 5px red;
}
.social-icon {
  width: 6vh;
  margin: 20px 27px 0 27px;
  opacity: 0.7;
  border-radius: 13px;
  transition: all 0.3s;
  animation: cursor 1000ms infinite;
}
.social-icon:hover {
  opacity: 1;
  box-shadow: 0 0 15px -5px gold;
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
}
/* MAIN BODY */
#main-page-body {
  display: flex;
}
.section {
  background-color: var(--black2);
  background-image: url(images/texture3.png);
  background-repeat: repeat;
  background-size: 100px;
  border: 60px solid transparent;
  border-image: url(images/border1.png) 125 round;
  border-image-outset: 14px;
  border-radius: 20px;
  width: 75%;
  background-clip: border-box;
}
#main-separator {
  height: 80vh;
  padding: 20px 3vh 0 3vh;
}
/* UPDATES */
#updates {
  align-items: center;
  text-align: center;
  background-color: var(--black2);
  width: 40%;
  border-radius: 10px;
  margin: 0 0 0 1%;
  anchor-name: --bsky;
}
#overlay {
  position: absolute;
  z-index: 1;
  /* height: 64.5vh;
  width: 40vh; */
  width:19.7%;
  height:64.5%;
  pointer-events: none;
  mask-clip: --bsky;
  position-anchor: --bsky;
  mask-position: --bsky;
  mask-size: --bsky;
  mask-origin: --bsky;
}
/* GAMES */
.protag {
  max-height: 100vh;
  position: absolute;
  left: 50vh;
  top: 10vh;
  z-index: 1;
  animation: fadeinleft 0.5s;
}
@keyframes fadeinleft {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#game-summary{
  position: relative;
  text-align: left;
  z-index: 2;
  left: 24%;
}
.game-description {
  display: flex;
  max-width: 110vh;
}
.game-logo {
  width: 30vh;
  height: fit-content;
}
.screenshot-segment {
  display: flex;
  justify-content: center;
}
.screenshot {
  width: 85%;
  border-radius: 10px;
  margin: 0 1%;
  border: solid transparent 15px;
  border-image: url(images/indent\ border.png) round 100;
}
.arrow {
  height: 70px;
  border: none;
  margin: 500% 0 0 0;
  transition: all 0.4s;
  filter: grayscale(30%);
}
.arrow:hover {
  filter: drop-shadow(0 0 10px rgba(218, 165, 32, 0.486));
}
.arrow.game-arrow {
  margin: 0% 0 0 0;
  padding: 10px;
  height: 140px;
}
.right-arrow:hover {
  transform: translateX(10px);
}
.left-arrow:hover {
  transform: translateX(-10px);
}
#game-links {
  display: flex;
  position: relative;
  top: 20px;
  justify-content: space-around;
  padding: 1% 0 0 0;
  margin-left: 12%;  
}
.game-button {
  width: fit-content;
  max-width: 30%;
  transition: all 3000ms;
  padding: 2px;
  margin: 0% 1% 0 1%;
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
  animation: cursor 1000ms infinite;
  filter: grayscale(30%);
  border: solid transparent 5px;
  border-image: url(images/indent\ border.png) round 100;
  background-color: var(--black2);
  background-clip: padding-box;
}
.game-button:hover {
  cursor: url(images/cursor/frame_00_delay-0.1s.gif), auto;
  filter: drop-shadow(0 0 10px rgba(218, 165, 32, 0.486));
}
/* FOOTING */
.footing {
  background-color: var(--black1);
  width: 101%;
  position: relative;
  margin: 0 0 -15px -10px;
  border-top: solid 1px goldenrod;
  box-sizing: border-box;
  background-clip: border-box;
  height: 300px;
  margin-top: 30vh;

}
/* PHONE MEDIA */
@media (max-width: 430px) {
  .heading {
    font-family: Caudex;
    font-weight: 700;
    font-size: 15px;

    width: 100%;
    color: var(--red1);
    background-color: var(--black1);
    position: fixed;
    padding: 0 0 0 30px;
    top: 0;
    left: 0;
  }
  #EVOL-title {
    padding-left: 50px;
  }
}
