/* ROOT */
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --red1: rgb(190, 29, 29);
  --red2: rgb(85, 16, 16);
  --black1: rgba(11, 15, 13, 0.9);
  --black2: rgba(11, 15, 13, 0.6);
  --gray1: rgb(48, 51, 51);
  --bone1: rgb(223, 220, 188);
}
/* GENERAL */
body {
  background-color: var(--gray1);
  max-width: fit-content;
  background-image: url(images/bg\ \(2\).jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}
div {
  box-sizing: border-box;
}
h2 {
  font-family: Caudex;
  color: rgb(190, 29, 29);
  padding: 20px;
}
p {
  font-family: Caudex;
  font-size: 20px;
  color: var(--bone1);
  padding: 20px;
  margin-top: -50px;
}

/* HEADING */
.heading {
  font-family: Caudex;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  color: var(--red1);
  background-color: var(--black1);
  position: fixed;
  padding: 0 0 0 130px;
  top: 0;
  left: 0;
  z-index: 3;
}
#backhead {
  padding: 60px;
}
#logo {
  width: 100px;
  position: absolute;
  top: 2px;
  left: 0px;
  padding: 10px 20px 20px 10px;
  border-radius: 0 0 40px 0;
  animation: godown 2000ms infinite alternate-reverse;
}
@keyframes godown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}
#heading-menu {
  display: flex;
  margin-left: 24vh;
}
button {
  font-family: Caudex;
  font-size: 20px;
  color: var(--red1);
  background-color: transparent;
}
.heading-button {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  transition: all 300ms;
  width: 17vh;
}
.heading-button:hover {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  background-color: rgba(41, 40, 40, 0.4);
}

/* MAIN BODY */
#main-page-body {
  display: flex;
}
#updates {
  align-items: center;
  text-align: center;
  background-color: var(--black2);
  width: 50vh;
  border-radius: 10px;
  margin: 20px 0 0 20px;
}
#main-separator {
  height: 80vh;
  padding: 20px 3vh 0 3vh;
}
.protag {
  max-height: 100vh;
  position: absolute;
  z-index: 1;
}
#game-summary {
  text-align: left;
  background-color: var(--black2);
  border-radius: 10px;
  width: fit-content;
  position: relative;
  z-index: 2;
  left: 30vh;
  top: 12vh;
}
#game-low-half {
  display: flex;

}
.screenshot {
  padding: 3vh 6vh;
  max-width: 80vh;
}
#game-links {
  margin-top: 27px;
}
.game-button {
  max-width: 22vh;
  margin-left: -5vh;
    transition: all 300ms;
}
.game-button:hover {
  mix-blend-mode: multiply;

}
#EVOL-title {
  margin-left: -20vh;
}
#heading-button-menu {
  display: flex;
  margin-left: 80vh;
}
#first-heading-button {
  border-width: 0 1px 0 1px;
}


/* PHONE MEDIA */
@media (max-width: 430px) {
  .heading {
    font-family: Caudex;
    font-weight: 700;
    font-size: larger;

    width: 100%;
    color: var(--red1);
    background-color: var(--black1);
    position: fixed;
    padding: 0 0 0 30px;
    top: 0;
    left: 0;
  }
  #EVOL-title {
    padding-left: 50px;
  }
  }