@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --red1: rgb(190, 29, 29);
  --red2: rgb(85, 16, 16);
  --black1: rgb(11, 15, 13);
  --gray1: rgb(48, 51, 51);
}
body {
  background-color: var(--gray1);
  max-width: fit-content;
}
div {
  box-sizing: border-Sox;
}

.box {
  font-family: Caudex;
  width: 30vh;
  border: solid black;
  border-width: 4px 1px 1px 4px;
  border-radius: 0 4px 0 4px;
  padding: 10px;
  margin: 24px;
  background-color: aliceblue;
  border-color: darkgrey black black black;
}
h2 {
  font-family: Caudex;
  color: rgb(190, 29, 29);
}
.title {
  background-color: var(--black1);
  position: sticky;
  top: 84px;
  width: 13vh;
  min-width: fit-content;
  padding: 10px;

  border-radius: 0 70px 70px 0;
}
.heading {
  font-family: Caudex;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  color: var(--red1);
  background-color: var(--black1);
  position: fixed;
  padding: 0 0 0 130px;
  top: 0;
  left: 0;
}
#backhead {
  position: static;
  margin: 0 0 7vh;
}
#logo {
  width: 100px;
  position: absolute;
  top: 5px;
  left: 0px;
  padding: 10px 20px 20px 10px;
  border-radius: 0 0 40px 0;
  animation: godown 2000ms infinite alternate-reverse;
}

@keyframes godown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}

#logoback {
  width: 100px;
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: var(--black1);
  padding: 65px 15px;
  border-radius: 0 0 40px 0;
}
@media (max-width: 430px) {
  .heading {
    font-family: Caudex;
    font-weight: 700;
    font-size: larger;

    width: 100%;
    color: darkslategray;
    background-color: var(--red1);
    position: fixed;
    padding: 0 0 0 30px;
    top: 0;
    left: 0;
  }
  .box {
    font-family: Caudex;
    font-size: larger;
    width: 30vh;
    border: solid black;
    border-width: 4px 1px 1px 4px;
    border-radius: 0 4px 0 4px;
    padding: 10px;
    margin: 24px;
    background-color: aliceblue;
    border-color: darkgrey black black black;
  }
}
#heading-menu {
  display: flex;
  margin-left: 24vh;
}
button {
  font-family: Caudex;
  font-size: 20px;
  color: var(--red1);
  background-color: var(--black1);
}
.heading-button {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  transition: all 300ms;
  width: 17vh;
}
.heading-button:hover {
  padding: 5vh 0 5vh 0;
  border: solid var(--red2);
  border-width: 0 1px 0 0;
  background-color: rgb(41, 40, 40);
}

#EVOL-title {
  margin-left: -20vh;
}
#heading-button-menu {
  display: flex;
  margin-left: 80vh;
}
#first-heading-button {
  border-width: 0 1px 0 1px;
}
